.calcBody {
    background-color: rgb(240, 238, 238);
    border: 2px solid gray;
    border-radius: 90px;
    height: 40rem;
    width: 40rem;
    margin: 5rem;
}

.row-form{
    // background-color:aquamarine;
    height: 6.5rem;
    width: 80%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}