.btn-body {
    width: 6rem;
    height: 4.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1.7px solid gray;
    border-radius: 10px;
}

.btn-stripe{
    width: 1.2rem;
    height: 3rem;
    border-radius: 3px;

    /* Standad Colors */
    &.black {
        background-color: black;
    }

    &.darkgray {
        background-color:#373c48e0;
    }

    &.gray {
        background-color: grey;
    }

    &.lightgray {
        background-color: lightgray;
    }

    &.white {
        background-color:white;
    }

    /* Alternative colors */
    &.aqua {
        background-color:aqua;
    }
    &.orange {
        background-color: orange;
    }
    &.blue {
        background-color:blue;
    }
    &.green {
        background-color:green;
    }
    &.yellow {
        background-color:yellow;
    }
}

.caption {
    font-size: 2rem;
    font-weight: 600;
}

